@import url("custom-hmh-global.css");

:root {
  /* -- Grade k-2 Specific -- */
  --button-padding-tb: 20px;
  --button-padding-lr: 28px; 
  --border-radius: 0.75rem;
  --font-face-family: "AvenirPrimaryHMHMath";
  --font-family: var(--font-face-family), Arial, Helvetica, sans-serif;  
  --btn-font-size: 30px;
}

/* -- Font -- */

@font-face {
  font-family: "AvenirPrimaryHMHMath";
  src: url("font/avenirprimaryhmh.otf");
  src: url("https://www.hmhco.com/ui/static_avenirprimaryhmh.otf");
  font-weight: normal;
}

@font-face {
  font-family: "AvenirPrimaryHMHMath";
  src: url("font/avenirprimaryhmh-bold.otf");
  src: url("https://www.hmhco.com/ui/static_avenirprimaryhmh-bold.otf");
  font-weight: bold;
}