@import url("custom-hmh-global.css");

:root {
  /* -- Grade k-2 Specific -- */
  --button-padding-tb: 20px;
  --button-padding-lr: 28px; 
  --border-radius: 0.75rem;
  --font-face-family: "AvenirPrimaryHMHM";
  --font-family: var(--font-face-family), Arial, Helvetica, sans-serif;  
  /* --font-size: 30px; Original HMH recmmendation */
  --font-size: 14px;
  --font-size-btn: 30px;
  --font-size-draggable: 24px;
  --input-size: scale(1.25);
}

@font-face {
  font-family: "AvenirPrimaryHMHMMath";

  src: url("https://www.hmhco.com/ui/static_avenirprimaryhmh.otf");
  font-weight: normal;
}

@font-face {
  font-family: "AvenirPrimaryHMHMMath";
  src: ulr("https://www.hmhco.com/ui/static_avenirprimaryhmh-bold.otf");
  font-weight: bold;
}
