:root {
  /* -- Global --*/
  --primary-button-color: #065EC2;
  --secondary-button-color: #D1E4FF;
  --progress-bar: #2723F7;
  --text-color: #424242;

  --background-color: #FFF;
  --background-color-purple: #F5EDFF;
  --background-color-blue: #E6F0FF;
  --background-color-dark: var(--background-color);
  --background-container: #D9EDFB;
  --background-table: #DBEFFD;
  --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .25);

  --border-color: #C0C6C8;
  --border-color-dark: #6f757a;
  
  --selected-answer: #D9F9FF;
  --correct-answer: #D2F7AE;
  --incorrect-answer: #FFE6E6;

  --red: #DD002F;
  --green: #4A700A;
  --white: #FFF;
}

.css-ainlma-hintsContainer {
  margin-bottom: 20px !important;
}

.lrn_imageclozeassociation {
  width: auto !important;
}

.lrn,
.lrn-start-page.lrn-dialog, 
.lrn .lrn-assess-content, 
.lrn .lrn_font_size_normal,
.lrn .lrn_font_size_normal .lrn,
.lrn-assess-content {
  font-size: var(--font-size, initial) !important;
  color: var(--text-color);
}

.lrn.lrn_font_size_xxlarge, 
.lrn.lrn_font_size_xxlarge .lrn {
  --font-size: 24px;
}

.lrn.lrn_font_size_xlarge, 
.lrn.lrn_font_size_xlarge .lrn {
  --font-size: 20px;
}

.lrn.lrn_font_size_large, 
.lrn.lrn_font_size_large .lrn {
  --font-size: 17px;
}

/* .lrn.lrn_font_size_normal, 
.lrn.lrn_font_size_normal .lrn {
  --font-size: 14px;
} */

.lrn,
#learnosity_assess,
#learnosity_assess h1,
#learnosity_assess h2,
#learnosity_assess h3,
#learnosity_assess h4,
#learnosity_assess h5,
#learnosity_assess h6 {
  font-family: var(--font-family, initial) !important;
  color: var(--text-color);
} 

.lrn_widget input[type="radio"],
.lrn_widget input[type="checkbox"] {
  transform: var(--input-size, inherit);
}

.lrn-assess .items .progress {
  width: calc(100% + ((1.875rem + 0.625rem) * 2));
  transform: translateX(calc((1.875rem + 0.625rem) * -1));
}

.lrn-assess .items .progress span {
  background-color: var(--progress-bar);
}

.lrn.lrn-assess .test-title-text {
  font-size: 2.75rem;
  font-weight: 700;
  color: #3d3f3f;
  white-space: normal;
}

.lrn-group-top button,
.lrn-group-bottom button,
button.lrn_validate,
button.item-prev,
button.item-next,
button.lrn_btn_blue,
button.test-submit,
button.test-resume,
button.test-dialog-cancel  {
  background-color: var(--primary-button-color) !important;
  border-color: var(--primary-button-color) !important;
  border-radius: var(--border-radius) !important;
  box-shadow: var(--box-shadow) !important;
  color: white !important;
  font-size: var(--btn-font-size, var(--font-size)) !important;
  line-height: 1.25 !important;
  padding: var(--button-padding-tb) var(--button-padding-lr) !important;
}

.lrn button.lrn_btn::before {
  font-size: inherit !important;
}

.lrn-group-top button.lrn_btn_notepad {
  padding-left: calc(var(--button-padding-lr) + 26px) !important;
}
.lrn-group-top button.lrn_btn_notepad > svg {
    height: calc(var(--font-size, 1em) + 3px) !important;
    left: calc(var(--font-size, 1em) + -6px) !important;
    position: absolute !important;
    top: calc(var(--font-size, 1em) + -10px) !important;
    width: calc(var(--font-size, 1em) + 3px) !important;
}

button.cancel {
  border-radius: var(--border-radius) !important;
  box-shadow: var(--box-shadow) !important;
  font-size: var(--btn-font-size, var(--font-size)) !important;
  line-height: 1.25 !important;
  padding: var(--button-padding-tb) var(--button-padding-lr) !important;
}

.lrn_btn.lrn_active,
.lrn_btn.lrn_active > .btn-label {
  color: white !important;
}

.lrn_btn_blue:after, 
.lrn_btn_blue:after {
  border: 0 none !important;
}

.lrn_btn_drag.lrn_draggable {
  font-size: var(--font-size-draggable, inherit);
}

.lrn button.lrn_btn.item-prev {
  border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
  line-height: 1.25;
  padding: .4em .9em !important;
}

.lrn button.lrn_btn.item-next {
  border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
  line-height: 1.25;
  padding: .4em .9em !important;
}

.lrn button:only-child {
  border-radius: var(--border-radius) !important;
}

.lrn button.lrn_validate,
.lrn button.test-submit {
  background-color: var(--primary-button-color) !important;
  border-color: var(--primary-button-color) !important;
  border-radius: var(--border-radius) !important;
  box-shadow: var(--box-shadow);
  color: white !important;
  padding: 0.4em 0.9em !important;
}

.lrn button.close {
  border: 0 none !important;
  box-shadow: var(--box-shadow);
}

.lrn .lrn_player button.lrn_volume_btn,
.lrn .lrn_player button.lrn_start_playback, 
.lrn .lrn_player button.lrn_pause_playback,
.lrn .lrn_player button.lrn_continue_playback  {
  background-color: var(--white) !important;
  border: 1px solid var(--border-color) !important;
  color: black !important;
  box-shadow: var(--box-shadow);
  font-size: unset !important;
  padding: unset !important;
}

.lrn .lrn_player button.lrn_start_playback, 
.lrn .lrn_player button.lrn_pause_playback,
.lrn .lrn_player button.lrn_continue_playback {
  border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
}

.lrn .lrn_player button.lrn_volume_btn {
  border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
}

.lrn div.lrn-keyboard-holder button,
.lrn div.lrn-keyboard-holder button.lrn_btn_grid {
  background-color: inherit !important;
  border: inherit !important;
  border-radius: unset !important;
  color: inherit !important;
}

.lrn_linereader-toggle {
  width: fit-content;
  white-space: nowrap;
}

.lrn_linereader-toggle > .btn-label {
  padding-right: var(--button-padding-lr) !important;
}

.lrn_box_skin_wrapper {
  border: 0 none !important;
}

.lrn_texteditor_editable {
  transform: translateX(3px) !important;
  width: calc(100% - 6px) !important;
}

.lrn_toolbar {
  background-color: var(--background-color) !important;
}

.lrn_box_skin_wrapper .lrn_widget_footer .lrn_volume_control {
  margin-left: -1px !important;
}

.lrn_response_input_wrapper .lrn-shading-row {
  font-size: 14px;
}

.lrn.lrn-assess {
  background-color: var(--background-color);
}

.section.pad-sml,
.lrn-region-group.lrn-group-middle,
.lrn-region-group.lrn-group-bottom {
  background-color: var(--background-color);
  box-shadow: unset;
}

.lrn-region-group.lrn-group-top,
.lrn-region-group.lrn-group-middle, 
.lrn-region-group.lrn-group-bottom {
  border: 0.25rem solid var(--border-color);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: calc(1.875rem + 0.625rem);
  transform: translateX(calc((1.875rem + 0.625rem) * -1));
  width: calc(100% + ((1.875rem + 0.625rem) * 2));
}

.lrn-region-group.lrn-group-top {
  background-color: var(--background-color-blue); 
  padding-top: 5px !important;
}

.lrn-region-group.lrn-group-middle, 
.lrn-region-group.lrn-group-bottom {
  background-color: var(--background-color);
  border-radius: unset;
  border-top: unset;
  padding-top: unset;
}

.lrn-region-group.lrn-group-bottom {
  padding-bottom: 5px !important;
}

.lrn-region-group.lrn-region-group.lrn-group-middle {
  padding-bottom: unset;
  z-index: 1;
}

.slides-control:after {
  background-image: unset !important;
}

.lrn-assess .lrn_response_wrapper  {
  background-color: var(--white);
  border-radius: var(--border-radius);
}

.lrn_widget.lrn_mcq .lrn_mcqgroup {
  width: auto;
}

.lrn_widget.lrn_mcq .lrn_mcqgroup .lrn-mcq-option {
  border: 0 none;
  border-radius: var(--border-radius);
  padding: calc(1.025rem);
}

.lrn .lrn_possibilityList {
  background-color: var(--background-container) !important;
  border-color: var(--background-color-dark) !important;
  border-radius: var(--border-radius);
}

.lrn .lrn_possibilityList.lrn_list_bottom:before {
  border-bottom-color: var(--background-color) !important;
}

.lrn_qr.lrn_association .lrn_possibilityList .lrn_draggable,
.lrn_widget .lrn_btn_drag {
  border-radius: 1.000rem !important;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .15), 0 8px 2px 0 rgba(0, 0, 0, .35) !important;
}

.lrn-mcq-option.lrn_selected:not(.lrn_valid):not(.lrn_correct):not(.lrn_incorrect) {
  border-left-color: transparent !important;
  background-color: var(--selected-answer) !important;
}

.lrn-mcq-option.lrn_selected .lrn-label {
  background-color: var(--selected-answer) !important;
}

.lrn_widget.lrn_mcq .lrn_mcqgroup:not(.lrn_mcqgroup-block) .lrn-mcq-option:hover,
.lrn_widget.lrn_mcq .lrn_mcqgroup:not(.lrn_mcqgroup-block) .lrn-mcq-option:active {
  background-color: var(--selected-answer);
}

.lrn_widget .lrn_valid, 
.lrn_widget .lrn_selected {
  background-color: var(--selected-answer);
}

.lrn_widget.lrn_mcq .lrn_mcqgroup .lrn-mcq-option > label.lrn-label:before {
  font-size: 1.75rem;
}

.lrn_response_input_wrapper {
  border: 0 none !important;
}

.lrn .lrn-possible-answer:hover,
.lrn .lrn-possible-answer:active {
  background-color: var(--selected-answer) !important;
  border: 0 none !important;
  border-radius: 1.000rem !important;
}

.lrn_widget .lrn_incorrect {
  background-color: var(--incorrect-answer) !important;
  border: 0 none !important;
  border-radius: 1.000rem !important;
}

.lrn_widget .lrn_response_input_wrapper.lrn_incorrect {  
  background-color: var(--white) !important;
  border: 4px solid var(--red) !important;
  border-radius: var(--border-radius);
}

.lrn_widget .lrn_correct {
  background-color: var(--correct-answer) !important;
  border: 0 none !important;
  border-radius: 1.000rem !important;
}

.lrn_widget .lrn_response_input_wrapper.lrn_correct {
  background-color: var(--white) !important;
  border: 4px solid var(--green) !important;
  border-radius: var(--border-radius);
}

.lrn_choicematrix_type_table,
.lrn_choicematrix_type_table th,
.lrn_choicematrix_type_table,
.lrn_choicematrix_type_table .lrn_choicematrix_cell,
.lrn_choicematrix_type_table th.lrn_choicematrix_cell,
.lrn_choicematrix_type_table td.lrn_choicematrix_cell {
  border: 4.5px solid var(--background-table) !important;
}

.lrn_choicematrix_type_table > thead {
  background-color: var(--background-table) !important;
}

.lrn_choicematrix_type_table td.lrn_selected,
.lrn_choicematrix_type_table td.lrn_option:hover {
  background-color: var(--selected-answer) !important;
}

.lrn_choicematrix_type_table .lrn_choicematrix_cell.lrn_correct {
  border: 5px solid var(--green) !important;
}

.lrn_choicematrix_type_table .lrn_choicematrix_cell.lrn_incorrect {
  border: 5px solid var(--red) !important;
}

.lrn_choicematrix_type_table .lrn_choicematrix_cell.lrn_correct:after,
.lrn_choicematrix_type_table .lrn_choicematrix_cell.lrn_incorrect:after,
.lrn_choicematrix_type_table .lrn_choicematrix_cell.lrn_correct:before,
.lrn_choicematrix_type_table .lrn_choicematrix_cell.lrn_incorrect:before  {
  content: unset !important;
  color: transparent !important;
}

.lrn.lrn-assess .app-panel.review-screen .panel-content {
  background-color: var(--background-color) !important;
  border: .25rem solid var(--border-color) !important;
}

.lrn.lrn-assess .app-panel.review-screen .panel-content .panel-footer {
  background-color: var(--background-color) !important;
}

.lrn.lrn-assess .app-panel.review-screen .panel-header {
  background-color: var(--white);
  border-color: var(--border-color);
}

.pagination.lrn-assess-pagination {
  font-size: calc(var(--btn-font-size, var(--font-size) * .8)) !important;
}