@import "https://michaeladamek-hmh.github.io/learnosity-styles/custom-hmh-global.css"

:root {
  /* -- Grade Specific -- */
  --button-padding-tb: 20px;
  --button-padding-lr: 28px; 
  --border-radius: 0.75rem;
  --font-face-family: "AvenirPrimaryHMHMath";
  --font-family: 'var(--font-face-family), Arial, Helvetica, sans-serif';  
  --font-size: 30px;
  --input-size: scale(1.75);
}

@font-face {
  font-family: var(--font-face-family);
  src: url("./static/avenirprimaryhmh.otf");
  font-weight: normal;
}

@font-face {
  font-family: var(--font-face-family);
  src: url("./static/avenirprimaryhmh-bold.otf");
  font-weight: bold;
}
