@import url("custom-hmh-global.css");

:root {
  /* -- Grade 6-12 Specific -- */
  --button-padding-tb: 10px;
  --button-padding-lr: 18px; 
  --border-radius: 0.25rem;
  --font-face-family: "Source Sans Pro";
  --font-family: var(--font-face-family), Arial, Helvetica, sans-serif;  
  /* --font-size: 24px; Original HMH recmmendation */
  --font-size: 14px;
  --input-size: scale(1.25);
}

/* -- Font -- */

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src: url("https://www.hmhco.com/ui/static_sourcesans3vf-roman.ttf.woff2") format("woff2"),
    url("https://www.hmhco.com/ui/static_sourcesans3vf-roman.ttf.woff") format("woff"),
    url("https://www.hmhco.com/ui/static_sourcesans3vf-roman.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 200 900;
  font-style: italic;
  font-stretch: normal;
  src: url("https://www.hmhco.com/ui/static_sourcesans3vf-italic.ttf.woff2") format("woff2"),
    url("https://www.hmhco.com/ui/static_sourcesans3vf-italic.ttf.woff") format("woff"),
    url("https://www.hmhco.com/ui/static_sourcesans3vf-italic.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src: url("https://www.hmhco.com/ui/static_sourceserifvariable-roman.ttf.woff2") format("woff2"),
    url("https://www.hmhco.com/ui/static_sourceserifvariable-roman.ttf.woff") format("woff"),
    url("https://www.hmhco.com/ui/static_sourceserifvariable-roman.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 200 900;
  font-style: italic;
  font-stretch: normal;
  src: url("https://www.hmhco.com/ui/static_sourceserifvariable-italic.ttf.woff2") format("woff2"),
    url("https://www.hmhco.com/ui/static_sourceserifvariable-italic.ttf.woff") format("woff"),
    url("https://www.hmhco.com/ui/static_sourceserifvariable-italic.ttf") format("truetype");
}