
  
:root {
  --primary-button-color: #0094FF;
  --secondary-button-color: #D1E4FF;
  /* --background-color: #F5EDFF; */
  --background-color: #fff;
  --background-color-purple: #F5EDFF;
  --background-color-blue: #E6F0FF;
  /* --background-color-dark: #DDC4FF; */
  --background-color-dark: var(--background-color);
  --background-container: #D9EDFB;
  --border-color: #C0C6C8;
  --border-color-dark: #6f757a;
  --progress-bar: #2390F7;
  --selected-answer: #D9F9FF;
  --correct-answer: #D2F7AE;
  --incorrect-answer: #FFE6E6;
  --text-color: #424242;
  --white: #FFF;
  --red: #DD002F;
  --green: #4A700A;
}

@font-face {
  font-family: "AvenirPrimaryHMHMath";
  src: url("https://michaeladamek-hmh.github.io/learnosity-styles/fonts/avenirprimaryhmh.otf");
  font-weight: normal;
}

@font-face {
  font-family: "AvenirPrimaryHMHMath";
  src: url("https://michaeladamek-hmh.github.io/learnosity-styles/fonts/avenirprimaryhmh-bold.otf");
  font-weight: bold;
}

.lrn,
.lrn.lrn_font_size_normal, 
.lrn.lrn_font_size_normal .lrn {
  font-size: 1.875rem !important;
  color: var(--text-color);
}

.lrn .lrn_btn {
  font-size: 1.5rem !important;
}

.lrn,
#learnosity_assess,
#learnosity_assess h1,
#learnosity_assess h2,
#learnosity_assess h3,
#learnosity_assess h4,
#learnosity_assess h5,
#learnosity_assess h6 {
    font-family: "AvenirPrimaryHMHMath" !important;
} 

.lrn_widget input[type="radio"],
.lrn_widget input[type="checkbox"] {
  transform: scale(1.75);
}

.lrn-assess .items .progress {
  width: calc(100% + ((1.875rem + 0.625rem) * 2));
  transform: translateX(calc((1.875rem + 0.625rem) * -1));
}

.lrn-assess .items .progress span {
  background-color: var(--progress-bar);
}


.lrn.lrn-assess .test-title-text {
  font-size: 2.75rem;
  font-weight: 700;
  color: #3d3f3f;
  white-space: normal;
}

.lrn button,
.lrn .lrn_btn,
.lrn.lrn-assess .lrn_btn,
.lrn button.start-test-btn,
.lrn button#lrn_assess_next_btn,
.lrn button.lrn_btn.item-prev {
  background-color: var(--primary-button-color) !important;
  border-color: var(--primary-button-color) !important;
  border-radius: 0.625rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .25) !important;
  color: white !important;
  font-size: 22px !important;
  line-height: 1 !important;
  padding: 20px 28px !important;
}

.lrn button:first-child {
  border-radius: 0.625rem 0 0 0.625rem !important;
}

.lrn button:last-child {
  border-radius: 0 0.625rem 0.625rem 0 !important;
}

.lrn button:only-child {
  border-radius: 0.625rem !important;
}

.lrn button.lrn_validate,
.lrn button.test-submit {
  background-color: var(--primary-button-color) !important;
  border-color: var(--primary-button-color) !important;
  border-radius: 0.625rem !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .25);
  color: white !important;
}

.lrn button.close {
  border: 0 none !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .25);
}

.lrn .lrn_player button.lrn_start_playback, 
.lrn .lrn_player button.lrn_volume_btn {
  background-color: var(--white) !important;
  border: 1px solid var(--border-color) !important;
  color: black !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .25);
  font-size: unset !important;
  padding: unset !important;
}

.lrn .lrn_player button.lrn_start_playback {
  border-radius: 0.625rem 0 0 0.625rem !important;
}

.lrn .lrn_player button.lrn_volume_btn {
  border-radius: 0 0.625rem 0.625rem 0 !important;
}

.lrn div.lrn-keyboard-holder button,
.lrn div.lrn-keyboard-holder button.lrn_btn_grid {
  background-color: inherit !important;
  border: inherit !important;
  border-radius: unset !important;
  color: inherit !important;

}

.lrn_box_skin_wrapper {
  border: 0 none !important;
}

.lrn_toolbar {
  background-color: var(--background-color) !important;
  /* border-radius: 0.625rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25); */
}

.lrn_box_skin_wrapper .lrn_widget_footer .lrn_volume_control {
  margin-left: -1px !important;
}


.lrn.lrn-assess {
  background-color: var(--background-color);
}

/* .lrn-assess .dialogs {
  position: unset;
  top: unset;
  bottom: unset;
  right: unset;
  left: unset;
} */

.lrn-assess .lrn-dialog .lrn-dialog-body {
  position: unset;
  top: unset;
  bottom: unset;
  right: unset;
  left: unset;
}

.lrn.lrn-assess .lrn-bottom-right-region.lrn-align-top {
  position: unset;
  top: unset;
  bottom: unset;
  right: unset;
  left: unset;
}

.section.pad-sml,
.lrn-region-group.lrn-group-middle,
.lrn-region-group.lrn-group-bottom {
  background-color: var(--background-color);
  box-shadow: unset;
}

.lrn_question p {
  max-width: 41.25rem;
}

/* .section.pad-sml {
  border: 0.25rem solid var(--border-color);
} */

.lrn.lrn-assess .lrn-region-group .lrn-region.lrn-top-left-region {
  flex: 1 1 70%;
}

.lrn-region-group.lrn-group-top,
.lrn-region-group.lrn-group-middle, 
.lrn-region-group.lrn-group-bottom {
  background-color: white;
  border: 0.25rem solid var(--border-color);
  border-radius: 0.625rem 0.625rem 0 0;
  /* margin-top: calc((2.1875rem + 1.25rem) * -1); */
  padding: calc(1.875rem + 0.625rem);
  transform: translateX(calc((1.875rem + 0.625rem) * -1));
  width: calc(100% + ((1.875rem + 0.625rem) * 2));
}

.lrn-region-group.lrn-group-top {
  background-color: var(--background-color-blue);
}

.lrn-region-group.lrn-group-middle, 
.lrn-region-group.lrn-group-bottom {
  background-color: var(--background-color);
  border-radius: unset;
  border-top: unset;
  padding-top: unset;
}

.slides-control:after {
  background-image: unset !important;
}

.lrn-assess .lrn_response_wrapper  {
  background-color: var(--white);
  /* border: calc(0.25rem / 2) solid var(--border-color-dark); */
  border-radius: 0.625rem;
  /* box-shadow: 0 2px 2px 0 rgba(133, 63, 186, 15%) ; */
  padding: calc(1.875rem + 1.025rem);
}

.lrn_widget.lrn_mcq .lrn_mcqgroup {
  width: auto;
}

.lrn_widget.lrn_mcq .lrn_mcqgroup .lrn-mcq-option {
  border: 0 none;
  border-radius: 0.625rem;
  padding: calc(1.025rem);
}

.lrn .lrn_possibilityList {
  background-color: var(--background-container) !important;
  border-color: var(--background-color-dark) !important;
  border-radius: 0.625rem;
}

.lrn .lrn_possibilityList.lrn_list_bottom:before {
  border-bottom-color: var(--background-color) !important;
}

.lrn_qr.lrn_association .lrn_possibilityList .lrn_draggable,
.lrn_widget .lrn_btn_drag {
  border-radius: 1.000rem !important;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .15), 0 8px 2px 0 rgba(0, 0, 0, .35) !important;
}

.lrn-mcq-option.lrn_selected:not(.lrn_valid):not(.lrn_correct):not(.lrn_incorrect) {
  border-left-color: transparent !important;
  background-color: var(--selected-answer) !important;
}

.lrn-mcq-option.lrn_selected .lrn-label {
  background-color: var(--selected-answer) !important;
}

.lrn_widget.lrn_mcq .lrn_mcqgroup:not(.lrn_mcqgroup-block) .lrn-mcq-option:hover,
.lrn_widget.lrn_mcq .lrn_mcqgroup:not(.lrn_mcqgroup-block) .lrn-mcq-option:active {
  background-color: var(--selected-answer);
}

.lrn_widget .lrn_valid, 
.lrn_widget .lrn_selected {
  background-color: var(--selected-answer);
}

.lrn_widget.lrn_mcq .lrn_mcqgroup .lrn-mcq-option > label.lrn-label:before {
  font-size: 1.75rem;
}

.lrn_response_input_wrapper {
  border: 0 none !important;
}

.lrn .lrn-possible-answer:hover,
.lrn .lrn-possible-answer:active {
  background-color: var(--selected-answer) !important;
  border: 0 none !important;
  border-radius: 1.000rem !important;
}

.lrn_widget .lrn_incorrect {
  background-color: var(--incorrect-answer) !important;
  border: 0 none !important;
  border-radius: 1.000rem !important;
}

.lrn_widget .lrn_response_input_wrapper.lrn_incorrect {  
  background-color: var(--white) !important;
  border: 4px solid var(--red) !important;
  border-radius: 0.625rem;
}

.lrn_widget .lrn_correct {
  background-color: var(--correct-answer) !important;
  border: 0 none !important;
  border-radius: 1.000rem !important;
}

.lrn_widget .lrn_response_input_wrapper.lrn_correct {
  background-color: var(--white) !important;
  border: 4px solid var(--green) !important;
  border-radius: 0.625rem;
}

.lrn.lrn-assess .app-panel.review-screen .panel-content {
  background-color: var(--background-color) !important;
  border: .25rem solid var(--border-color) !important;
}

.lrn.lrn-assess .app-panel.review-screen .panel-content .panel-footer {
  background-color: var(--background-color) !important;
}

.lrn.lrn-assess .app-panel.review-screen .panel-header {
  background-color: var(--white);
  border-color: var(--border-color);
}